html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header{
  height: 65px;
  background-color: rgba(34,49,52,0.9);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

header img{
  width: 124px;
  padding-top: 20px;
}

header a{
  line-height: 65px;
  float: right;
  padding: 0 25px 0 25px;
  background-color: rgba(255,255,255,0.3);
  color: white;
}

header a:hover{
  background-color: rgba(255,255,255,0.5);
  transition: background-color 0.5s;
}



.container{
  margin: 0 auto;
  width: 1170px;
}

.top{
  padding: 180px 0 100px 0;
  background-image: url("https://prog-8.com/images/html/advanced/top.png");
  background-size: cover;
  text-align: center;
}

.top h1{
  color: white;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top p{
  color: white;
  opacity: 0.7;
}

.btn{
  display: inline-block;
  border-radius: 5px;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
}

.btn:hover{
  opacity: 1;
}

.new-entry{
  margin-top: 30px;
  background-color: #239b76;
}

.or{
  padding: 15px 0 15px 0;
}

.twitter{
  background-color: #55acee;
}

.facebook{
  background-color: #3b5998;
}


.lesson{
  height: 580px;
  background-color: #f7f7f7;
   text-align: center;
}

.lesson h2{
  font-weight: normal;
  padding: 80px 0 50px 0;
  color: #5f5d60;
}

.language{
  width: 25%;
  float: left;
  position: relative;
}

.language img{
  padding-bottom: 15px;
  
}

.name{
  position: absolute;
  top: 90px;
  left: 28px;
  width: 80%;
  color: white;
}

.exp{
  width: 80%;
  color: #b3aeb5;
  font-size: 13px;
  margin: 0 auto;
}


.message{
  text-align: center;
}

.message h2{
  padding-top: 80px;
  color: #5f5d60;
  font-weight: normal;
}

.message h3{
  padding-bottom: 50px;
  color: #5f5d60;
}

.message a{
  color: white;
  display: inline-block;
  padding: 15px 40px ;
  background-color: #5dca88;
  opacity: 0.8;
  box-shadow: 0 7px #1a7940;
  margin-bottom: 80px;
  border-radius: 5px;
  
}

.message a:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}


footer{
  border-top: 1px solid #eee;
}

footer img{
  width: 124px;
  padding-top: 30px;
}

footer p{
  color: #b3aeb5;
  font-size: 12px;
  padding-bottom: 30px;
}
